<script type='text/javascript'>
  <% if logged_in? %>
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  <% end %>
  window.headimage = "<%= image_url("heroImage.jpg") %>"
  window.loginimage ="<%= image_url("loginimage.jpg") %>"
  window.navbarlogoimage ="<%= image_url("navbarlogo2.png") %>"
</script>

<main id='root'> </main>
