#concept-show-container{
  background-color: rgb(212, 225, 231);
  border: 1px solid #ddd;
}

#concept-show{
  margin-left: 17%;
  margin-right: 17%;
}

#concept-nav{
  margin-top: 5%;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
}

#concept-nav a {
  color: black;
}

#concept-nav-title{

  color: rgb(51, 51, 51);
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: auto;
  line-height: normal;
}

#concept-nav-author, #concept-nav-category {
  color: rgb(153, 153, 153);
  display: inline;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: auto;
  line-height: 20px;
  margin-left: 5px;
  text-size-adjust: 100%;
  font-weight: normal;
}

#concept-nav-buttons{
  padding-top: 12px;
  padding-bottom: 18px;

}

#concept-nav-right{

}
#concept-nav-all{

}
#concept-nav-hide{

}

#concept-show-concept-step{
  background: white;
  padding-left: 23px;
  padding-top: 23px;
  width: 60%;

}

#concept-show-user-info{
  background: white;
  width: 35%;
  padding-right: 23px;
  padding-top: 23px;
  border-radius: 4px;

}

#concept-show-concept{
  border: 1px solid #ddd;
  background: #f6f6f6;
  border-radius: 5px;
}

#concept-show-username,
#concept-show-step-comments,
#concept-show-userconcepts{
  border: 1px solid rgb(221, 221, 221);
  padding: 15px;
}

#concept-show-userconcepts img{
  display: block;
  width: 84px;
  height: 84px;
}

#concept-show-concepts-imgs{
  display: flex;
  flex-direction: row;
}

#concept-show-heading{
  padding: .5em .5em .4em .8em;
  border-bottom: 1px solid #ddd;
  background: #f6f6f6;
  border-radius: 5px 5px 0 0;
  font-size: 18px;
  border: 1px solid #ddd;
}

#concept-show-description{
  background: white;
  padding: 15px;
  font-size: 17px;
}

#concept-show-step-comments{
  border: none;

}

#concept-show-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

#concept-show-concept{
  border-bottom-left: 1px solid rgb(221, 221, 221);
  border-bottom-right: 1px solid rgb(221, 221, 221);
  padding: 15px;
  margin-right: 23px;
}
