#concept-edit-container{
  background-color: rgb(212, 225, 231);
  border: 1px solid #ddd;
}

#concept-edit-adding{
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
}

#concept-edit{
  margin-top: 2.5%;
  margin-left: 14%;
  margin-right: 14%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-bottom: 20px;
}

#concept-edit-header{
  background-color: #f6f6f6;
  border-radius: 10px 10px 0 0;
  padding: 5px;
  border: 1px solid #ddd;
}

.concept-edit-header-image{
  background-color: #eee;
  box-shadow: inset 0 0 3px 3px #dfdfdf;
  height: 110px;
  width: 98%;
  margin: auto;
  border-radius: 10px;
  line-height: 110px;
  font-size: 20px;
  color: #AAA;
  font-family: sans-serif;
  margin-bottom: 10px;
  margin-top: 5px;
  display: flex;
  align-self: center;
  overflow: visible;
}

#concept-edit-adding-container{
  display: flex;
}

#concept-edit-delete{
  position: absolute;
  z-index: 200;
  color: #e86c00;
  top: 10px;
  left: 0;
  line-height: 0px;
}

#concept-edit-body{
  width: 80%;
  margin: auto;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  margin-top: 5%;
  border-radius: 10px;
}

#concept-edit-body-img{
  width: 98%;
  margin: auto;
  background: white;
  border: 1px solid #dedede;
  font-size: 20px;
  color: #AAA;
  font-family: sans-serif;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
  min-height: 100px;
  line-height: 90px;
}

#concept-edit-body-title{
  width: 98%;
  font-weight: bold;
  font-size: 18px;
  margin: auto;
  background-color: white;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: #555;
  text-align: start;
  padding: 4px 6px;
  box-sizing: border-box;
  display: flex;
  align-self: center;
}

#concept-edit-body-description{
  width: 98%;
  background-color: white;
  height: 300px;
  margin: auto;
  border: 1px solid #dedede;
  display: flex;
  align-self: center;
  margin-bottom: 1%;
}

#concept-edit-save{
  font-size: 16px;
  margin-right: 12px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
  background-color: #e86c00;
  color: #fff;

}

#concept-edit-buttons{
  display: flex;
  align-items: center;
}

#concept-edit-title{
  margin: 20px;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
}

#concept-edit-modal-body{
  display: flex;
  flex-direction: column;
}

#concept-edit-modal-title{
  color: #aaa;
  padding: 10px;
  border: 0;
  border-bottom: solid 1px #c9c9c9;
  transition: border .3s;
  border-radius: 0;
  font-size: 18px;
  width: 350px;
  text-align: center;
  margin: auto;
}

#concept-edit-modal-description{

  color: #aaa;
  border: 1px solid #c9c9c9;
  transition: border .3s;
  border-radius: 0;
  font-size: 14px;
  width: 350px;
  margin: auto;
  height: 80px;
  margin-top: 10px;
}

#concept-edit-modal-submit{
  margin: auto;
  margin-top: 30px;
  padding: 11px 19px;
  font-size: 17.5px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;

  font-weight: 400;
  margin-bottom: 20px;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-shadow: none;

  background-color: #e86c00;

  color: #fff;
}

#concept-edit-img{

  border: 1px solid transparent;
  border-radius: 20%;
}
