#concept-user-title-notpub, #concept-user-title{
  font-family: sans-serif;
  font-size: 24px;
  padding-bottom: 20px;
}
#concept-user-title-notpub{
  padding-top: 20px;
}



#concept-user-notpublish{
  background-color: #eee;
}

#concept-user-container{
  text-align: center;
}
