
#footer-bar{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  height: 20px;
  width: 100%;
  background-color: #eee;
  position: fixed;
  bottom: 0;
}

#footer-bar button{
  width: 150px;
  height: 150px;
}

#footer-bar ul{
  display: flex;
  list-style: none;
  font-size: 20px;
}

#footer-bar ul a{
  margin-right: 10px;
  text-decoration: none;
}
