@media only screen
and (max-width : 1079px) {

  .fillWidth{
    display: none;
  }

  #make-it-search-bar{
    display: none;
  }


  #category-links{
    display: none;
  }

  #searchbar-container{
    display: none;
  }

}


@media only screen
and (min-width : 1080px){
  .fillWidth{
    width: 100%;
    height: 650px;
    position: relative;
    margin: auto;
    display: flex;
    border: 1px solid;
    border-color:#e5e6e9 #dfe0e4 #d0d1d5;
    margin-bottom: 20px;
  }


  #make-it-search-bar{
    font-size: 80px;
    color: #eee;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    letter-spacing: 4px;
    top: 20%;
    left: 10%;
    padding: 0;
    z-index: 2;
    position: absolute;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  #category-links{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    width: 40%;
    margin-right: 10%;
  }

  .category-links-items:hover{
    position: relative;
    top: -5px;
  }
}
