$nav_bar_height: 61px;

.left-nav{
  display: flex;
  flex-direction: row;
  line-height: $nav_bar_height;
  margin-left: 5%;
}

.right-nav{
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 20px;
  margin-right: 2.5%;
}




#nav-bar{
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  width: auto;
  height: $nav_bar_height;
  background-color: #eee;
  overflow: visible;
  justify-content: space-around;
}

#nav-signup{
  font-size: 12px;
  padding-right: 10px;
}

#nav-login{
  font-size: 12px;
}

#createConcept{
  font-size: 12px;
  margin-right: 12px;
  border-radius: 5%;
  color: white;
  padding: 5px;
  text-align: center;
  text-shadow: none;
  background-color: #e86c00;
  color: #fff;
  width: 80px;
  height: 15px;
}

#myConcepts{
  font-size: 12px;
  margin-right: 12px;
  border-radius: 5%;
  color: white;
  padding: 5px;
  text-align: center;
  text-shadow: none;
  background-color: #e86c00;
  color: #fff;
  width: 80px;
  height: 15px;
}



#nav-login:after{
  content: '|';
  color: gray;
  padding-right: 10px;
  padding-left: 10px;
}

#navbarlogo-img{
  width: auto;
  height: 100px;
  z-index: 2;
  cursor: pointer;
}
